.singleton p {
    margin-block-end: 0;
}

body {
    overflow: hidden;
    border: 0;
    padding: 0;
}

#wrapper {
    background-image: url("https://math.unc.edu/files/2014/12/header-image2-1500x500_c.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#main {
    color: white;
}