################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngouriMathSite
/.vs
/styles/.vs/styles/v16/TestStore/0
/styles/.vs
