body {
	font-family: monospace;
    font-size: 16pt;
}

.main {
    width: 44%;
    margin-top: 10vh;
	margin-left: 28%;
}

.nav-left {
	width: 15%;
	position: fixed;
	top: 0;
	margin-left: 10%;
	padding-right: 1.5%;
	height: 60vh;
	margin-top: 5vh;
}

.nav-left ul {
	list-style: none;
	padding: 0;
	
}

.nav-left li {
	list-style: none;
	padding-bottom: 0.5vh;
	padding-top: 0.5vh;
	/*border-bottom: 1px solid #AAAAAA;*/
	margin-left: 3vh;
}

.nav-top {
	display: flex;
	margin-left: 5vh;
}

.slogan {
	font-size: 14pt;
}

/* With class Phone it will only be so on mobile devices */
.phone {
    display: none;
}

/* With class PC it will be only applied to PC */
.pc {
    
}

pre {
    font-size: 14pt;
    padding: 10px;
    border-radius: 8px;
}

.cw {
    font-size: 14pt;
    padding: 2px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 1px;
}

.warning {
    padding: 10px;
    border-radius: 8px;
}


summary {
    outline: none;
}

@media (max-width: 1000px)
{
    .main {
        width: 70%;
        margin-left: 15%;
    }
    
    iframe {
        display: none;
    }
    
    .badges {
        display: none;
    }
    
    .phone {
        display: block;
    }
    
    .pc {
        display: none;
    }
    
    .head-of-page {
        font-size: 25pt;
    }
    
    .link-block-mob {
        display: block;
    }
    
    .link-block-mob a {
        display: block;
        border-bottom: solid 1px gray;
        font-size: 30pt;
        padding: 15px;
    }
    
    .logo {
        width: 250px;
    }
}

a {
    text-decoration: none;
}

.centered {
    text-align: center;
}



.block {
    margin-top: 6vh;
}

.code {
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}
