@media (prefers-color-scheme: light) {
    body {
        color: #474747;
        background-color: white;
    }
    
    a {
        color: #BB0099;
    }
    
    a:hover {
        color: red;
    }
    
    .code {
        background-color: #EAEAEA;
        border: solid #EAEAEA;
    }
    
    .anchor {
        color: #474747;
    }
    
    .active-link {
        color: #A7A7A7;
    }

    .active-link:hover {
        color: #A7A7A7;
    }
	
	pre {
		background-color: #F0F0F0;
	}
	
	.cw {
		background: #F0F0F0;
	}
	
	.warning {
		background-color: #FFBABA;
	}

    .importance {
        background-color: #BAFFBA;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #A7A7A7;
        background-color: #0D1117;
    }
    
    a {
        color: pink;
    }
    
    a:hover {
        color: white;
    }
    
    .code {
        background-color: #5A5A5A;
        border: solid #5A5A5A;
        color: darkgray;
    }
    
    .anchor {
        color: #A7A7A7;
    }
    
    .active-link {
        color: #A7A7A7;
    }

    .active-link:hover {
        color: #A7A7A7;
    }   
	
	pre {
		background-color: #1D2127;
	}
	
	.cw {
		background: #1D2127;
	}
	
	.warning {
		background-color: #5F2525;
	}

    .importance {
        background-color: #152F15;
    }

    hr {
        border-color: #5D6167;
    }
}