
.epic {
    font-family: 'Epilogue', sans-serif;
}

body {
    border: 0;
    padding: 0;
}

.logo-wrapper {
    background-image: url("../img/mbackground.png");
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 25vh;
    left: 0;
    top: 0;
    z-index: -1;
}

#main {
    color: white;
}

.normal-text {
    color: #060606;
}

.slogan {
    font-size: 14pt;
}